* {
    cursor: url("img/cursorsmall.png"), auto;
}

body {
   

    background-image: url("img/backgroundwarm.png");
    background-color: tomato;
    background-size: cover;
    background-attachment: fixed;
    /* background-repeat: no-repeat;
    /* margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; */

    }

.content {
    position: relative;
    height: calc(100% - 100px); /* Adjust as needed */
  }

img.flower-gif{
    width: 25%;
    height: auto;
    position: absolute;
    top: 1%;
    left: 1%;
}

img.flower-gif2{
    width: 25%;
    height: auto;
    position: absolute;
    top: 1%;
    right: 1%;
}

img.workbook-gif{
    width: 70%;
    position: absolute;
    display: block;
    margin-left: 14%;
    margin-top: 3%;
}

img.interactivemedia{
    width: 40%;
    position: absolute;
    display: block;
    margin-left: 28%;
    margin-top: 3%;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

img.flowers{
    width: 100%;
    padding-left: 0;
    margin-left: 0;
    margin-top: 30%;
}

/* .button-container {
    position: absolute;
    bottom: 5%;
    width: 10%;
    text-align: center;
  }

.button1 {
    margin: 5px auto;
    display: block;
    cursor: pointer;
    width: 30px; 
  }

  .button2 {
    margin: 5px auto;
    display: block;
    cursor: pointer; 
  } */

  .container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
  }

  .button-container {
    text-align: center;
  }
  
  .button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: tomato;
    color: white;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .button:hover {
    background-color: black;
  }
  
  /* .section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  } */